#sunday-news-toolkit-elements {
  display: none;
  width: 600px;
  padding: 0px 30px 30px 30px;
}

#sunday-news-toolkit-elements, #sunday-news-toolkit-elements * {
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

#sunday-news-toolkit-elements h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid #999;
  color: #444;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 0px;
}

#sunday-news-toolkit-elements h3:after {
  clear: both;
}

#sunday-news-toolkit-elements h3:before,
#sunday-news-toolkit-elements h3:after {
  display: table;
  content: " ";
}

#sunday-news-toolkit-elements h3.sunday-news-toolkit-other {
  margin-top: 15px;
}

#sunday-news-toolkit-elements h3 .sunday-news-toolkit-caret {
  display: block;
  float: right;
  height: 22px;
  width: 22px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}

.featherlight-content #sunday-news-toolkit-elements {
  display: block;
}

.sunday-news-toolkit-code {
  display: none;
}

.sunday-news-toolkit-caption {
  cursor: pointer;
}

.sunday-news-toolkit-caption:hover {
  color: #222;
}

.sunday-news-toolkit-row {
  position: relative;
  z-index: 99;
  margin-left: -15px;
  margin-right: -15px;
}

.sunday-news-toolkit-row:after {
  clear: both;
}

.sunday-news-toolkit-row:before,
.sunday-news-toolkit-row:after {
  display: table;
  content: " ";
}

.sunday-news-toolkit-col {
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
  float: left;
  margin-top: 15px;
}
